// ============================================
// 뱃지 및 태그, 작은 요소의 컴포넌트를 모아둡니다.
// ============================================

.copyright {
  font-size: txt-s;
  color: $gray-500;
  margin-top: 20px;

  p {
    margin: 0;
    font-size: 15px;
    color: $gray-500;
  }
}

svg {
  width: 16px;
}
